<!DOCTYPE html>
<html lang="ro" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Rough Cut</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
</head>
<body>
    <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="~/assets/img/logoipsum.svg" height="28">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start is-uppercase has-text-weight-medium">
            <a class="navbar-item">
                Interviu
            </a>
            <a class="navbar-item">
                Cronică
            </a>
            <a class="navbar-item">
                Flashback
            </a>
            <a class="navbar-item">
                Carte de Film
            </a>
            <a class="navbar-item">
                Seriale
            </a>
            <a class="navbar-item">
                Divertisment
            </a>
            <a class="navbar-item">
                Videoclipuri
            </a>
            </div>
          </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Caută articole" />
                        <span class="icon is-small is-left">
                            <i class="bi bi-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="footer">
        <div class="content has-text-centered">
          <p>&copy; Rough Cut 2022.</p>
          <p>
              Revista Facultății de Teatru și Film a Universității Babeș-Bolyai
          </p>
        </div>
      </footer>
</body>
</html>
