@using RoughCut.Web.Models
@using RoughCut.Web.Repositories.Abstractions
@inject ICategoriesRepository CategoriesRepository
@{
    IEnumerable<Category> categories = await CategoriesRepository.GetAllAsync();
}

<!DOCTYPE html>
<html lang="ro" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData[ViewDataKey.Title] - Rough Cut</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
</head>
<body>
    <nav class="navbar is-fixed-top is-spaced is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item p-0" href="/">
            <img src="~/logo-dark.svg" alt="Rough Cut logo on dark background">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start is-uppercase has-text-weight-medium">
              @foreach (Category category in categories)
              {
                <a class="navbar-item" asp-page="/Category" asp-route-categoryAlias="@category.Alias">
                    @category.Name
                </a>
              }
            </div>
          </div>

        <div class="navbar-end">
            <a class="navbar-item is-uppercase" asp-page="/About">
                Despre noi
            </a>
            <div class="navbar-item">
                <div class="field">
                    <p class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="bi bi-search"></i>
                        </span>
                        <input class="input" type="text" placeholder="Caută" />
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <main class="is-family-secondary has-background-light">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p class="is-size-5">
                Revistă suținută de <a href="https://teatrufilm.ubbcluj.ro/">Facultatea de Teatru și Film</a> a Universității Babeș-Bolyai
            </p>
            <p>&copy; Rough Cut 2022.</p>
        </div>
    </footer>
</body>
</html>
