# https://editorconfig-specification.readthedocs.io/

root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

[*.json]
indent_size = 2
