# Build results
bin/
obj/

# ImageSharp cache directory
is-cache/

# Node.js modules
node_modules/

# Placeholder files
.placeholder

# User-specific files
*.user

# Visual Studio cache directory
.vs/
