<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6fc443de-b155-4088-8314-4b446e48a9ee/resourceGroups/test-roughcut/providers/Microsoft.Web/sites/test-roughcut</ResourceId>
    <ResourceGroup>test-roughcut</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://test-roughcut.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>996afd44-377a-41bb-98ae-ea75f11eacfa</ProjectGuid>
    <PublishUrl>https://test-roughcut.scm.azurewebsites.net/</PublishUrl>
    <UserName>$test-roughcut</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>
